{{ 'component-teaser.css' | asset_url | stylesheet_tag }}

{% liquid
  assign section_id = block.settings.section_id
  assign section_background_color = block.settings.background_color
  assign heading_level = block.settings.heading_level
  assign heading = block.settings.heading
  assign image = block.settings.image
  assign description = block.settings.description
  assign button_link = block.settings.link
  assign button_text = block.settings.link_text
  assign button_background_color = block.settings.button_background_color
%}

<section>
  <div
    class="teaser container article-template__section__inner--fw"
    id="{{ section_id }}"
    style="background-color: {{ section_background_color }};"
  >
    <div class="teaser-item teaser-item--fw">
      <div class="teaser-item__content">
        {% render 'headings', headingLevel: heading_level, heading: heading %}
        <p>
          {{ description }}
        </p>
        <a class="teaser-item__link" href="{{ button_link }}">{{ button_text }}</a>
      </div>
      <div class="teaser-item__image">
        <img
          src="{{ image | image_url: width: 500 }}"
          alt="{{ image.alt }}"
          loading="lazy"
          width="{{ image.width }}"
          height="{{ image.height }}"
        >
      </div>
    </div>
  </div>
</section>

<style>
  .teaser-item__link {
    background-color: {{ button_background_color }};
  }
</style>
